<p class="notice"> <%= flash[:notice] %></p>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>

  <h4>Title</h4>
   <p><%= @book.title %> </p>

  <h4>Opinion</h4>
   <p><%= @book.body %></p>

  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Back", '/books' %>